
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<div>This is a library project. You can add, delete, update the books and their genres and list the books of the genres in detail</div>

